$bg-color: #fff;
$bg-color-header: #2a2734;
$text-color: #222;
$text-color-header: #fff;
$text-color-blockquote: #888;
$link-color: #0d7f9c;
$permalink-border-color: #bbb;
$hr-color: #ccc;
$font-body: 'Source Sans Pro', Helvetica, sans-serif;
$font-title: 'Unica One', Helvetica, sans-serif;
