$bg-color: #fff;
$bg-color-header: #2a2734;
$text-color: #222;
$text-color-header: #fff;
$link-color: purple;
$font-body: 'Source Sans Pro', Helvetica, sans-serif;
$font-title: 'Open Sans Condensed', Helvetica, sans-serif;
